page-about {
  ion-header .toolbar-background-ios {
    background: black;
  }
  ion-header .toolbar-title-ios{
    color: white;
    font-size: 2rem;
  }
  ion-icon[name=person-add]{
    font-size: 35px;
    color: white;
    float: right;
    margin-right: 15px;
  }
  //搜索框
  #search{
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: gainsboro;
  }
  #insearch{
    width: 94%;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 3%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    padding-right: 10px;
  }
  #insearch span{
    font-size: 18px;
  }
  ion-icon[name=search]{
    display: inline-block;
    font-size: 1.5em;
    color: #999;
    margin-right: 0;
  }
  ion-icon[name=mic]{
    float: right;
    display: inline-block;
    font-size: 1.5em;
    color: #999;
    margin-right: 0;
    margin-top: 2px;
  }
  //列表
  .list-ios{
    margin: -1px 0 0!important;
  }
  ion-list .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 5px;
  }

  ion-item-group .item-ios-light, .item-divider-ios-light{
    background-color: gainsboro;
  }

  ion-item-group ion-item-divider{
    height: 30px;
  }
}
